html {
    font-size: 62.5%;
}

body {
    font-family: 'Ubuntu', Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    display: flex;
    flex-direction: column;
    background-color: #2D3949;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

#main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 72vh;
    background: url('../img/b2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    /* transform: translateZ(-1px) scale(1.5); */
}

#main-header h1 {
    font-size: 5rem;
    font-family: 'PT Mono';
    color: #fff;
    margin-top: 20vh;
    margin-bottom: 5px;
}

#main-header h3 {
    font-family: 'PT Mono';
    font-size: 2rem;
    color: #fff;
}

.profile {
    align-self: center;
    margin-top: -150px;
}

.profile img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #fff;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#about p{
    margin: 20px 150px;
    text-align: justify;
    color:#fff;
    font-size: 2rem;
}

.skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    max-width: 1200px;
}

.skill {
    margin: 20px 0 0 20px;
    width: 500px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #00a1a7 90%, #eee 10%);
    border-radius: 5px;
}

#node {
    background: linear-gradient(90deg, #00a1a7 80%, #eee 20%);
}

#mongo {
    background: linear-gradient(90deg, #00a1a7 75%, #eee 15%);
}

#mysql {
    background: linear-gradient(90deg, #00a1a7 60%, #eee 40%);
}

#docker {
    background: linear-gradient(90deg, #00a1a7 50%, #eee 50%);
}

#tdd {
    background: linear-gradient(90deg, #00a1a7 70%, #eee 30%);
}

#html {
    background: linear-gradient(90deg, #00a1a7 70%, #eee 30%);
}

#css {
    background: linear-gradient(90deg, #00a1a7 60%, #eee 30%);
}

#react {
    background: linear-gradient(90deg, #00a1a7 50%, #eee 30%);
}

#cpp {
    background: linear-gradient(90deg, #00a1a7 80%, #eee 30%);
}

.skill span {
    font-size: 1.5rem;
    color: #2D3949;
    margin-right: 10px;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #04c2c9;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    height: 35px;
    width: 100px;
    border-radius: 5px;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    height: 200px;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    height: 200px;
}