html {
    font-size: 62.5%;
}

body {
    font-family: 'Ubuntu', Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    display: flex;
    flex-direction: column;
    background-color: #2D3949;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
}

section h1 {
    margin-top: 30px;
}

#main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 75vh;
    background: url('../img/b2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    /* transform: translateZ(-1px) scale(1.5); */
}

#main-header h1 {
    font-size: 6rem;
    font-family: 'PT Mono';
    color: #fff;
    margin-top: 20vh;
    margin-bottom: 5px;
}

#main-header h3 {
    font-family: 'PT Mono';
    font-size: 2.5rem;
    color: #F0B67F;
    /* text-decoration: wavy; */
    border-top: 2px solid #F0B67F;
    border-bottom: 2px solid #F0B67F;
    border: 2px solid #F0B67F;
    padding: 15px;
}

#main-header h3:hover{
    background-color: #F0B67F;
    color: #2D3949;
    text-decoration: underline;
}

.profile {
    align-self: center;
    margin-top: -150px;
}

.profile img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid #F0B67F;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#about p {
    margin: 20px 150px;
    text-align: justify;
    color: #fff;
    font-size: 2rem;
}

.skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    max-width: 1200px;
}

.skill {
    margin: 20px 0 0 20px;
    width: 500px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #00a1a7 90%, #eee 10%);
    border-radius: 5px;
}

#node {
    background: linear-gradient(90deg, #00a1a7 80%, #eee 20%);
}

#mongo {
    background: linear-gradient(90deg, #00a1a7 75%, #eee 15%);
}

#mysql {
    background: linear-gradient(90deg, #00a1a7 60%, #eee 40%);
}

#docker {
    background: linear-gradient(90deg, #00a1a7 50%, #eee 50%);
}

#tdd {
    background: linear-gradient(90deg, #00a1a7 70%, #eee 30%);
}

#html {
    background: linear-gradient(90deg, #00a1a7 70%, #eee 30%);
}

#css {
    background: linear-gradient(90deg, #00a1a7 60%, #eee 30%);
}

#react {
    background: linear-gradient(90deg, #00a1a7 50%, #eee 30%);
}

#cpp {
    background: linear-gradient(90deg, #00a1a7 80%, #eee 30%);
}

.skill span {
    font-size: 1.5rem;
    color: #2D3949;
    margin-right: 10px;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #04c2c9;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    height: 35px;
    width: 100px;
    border-radius: 5px;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    background-color: #B5E3D8;
}

#projects h1 {
    color: #2D3949;
}

#projects nav {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#projects nav ul li {
    margin: 0 25px;
    font-size: 1.5rem;
    padding: 15px;
    color: #2D3949;
    font-weight: bolder;
}

#projects nav ul li.selected {
    background-color: #F0B67F;
    color: #2D3949;
    font-weight: bolder;
}

#projects nav ul li:hover {
    cursor: pointer;
    background-color: #F0B67F;
}

.projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5px 5px 35px 5px;
    width: 300px;
    height: 300px;
    background-color: #2D3949;
    color: #fff;
    font-weight: bolder;
}

.project .description {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project h3 {
    font-size: 2rem;
    font-weight: bold;
}

.project span {
    margin-top: 5px;
    font-size: 1.2rem;
    color: #F0B67F;
}

.project .button {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    margin-top: 25px;
    border: 2px solid #F0B67F;
    color: white;
    font-size: 1.3rem;
    font-weight: bolder;
}

.project .button:hover {
    cursor: pointer;
    background-color: #F0B67F;
    color: #2D3949;
}

.project .description {
    display: none;
}

.project .button {
    display: none;
}

.project:hover {
    background-color: #00a1a7;
}

.project:hover .description {
    display: flex;
}

.project:hover .button {
    display: flex;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    /* height: 1000px; */
}

#contact p{
    font-size: 2rem;
    color:white;
    text-align: justify;
    margin-top: 50px;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    min-width: 500px;
}

#contact form > *{
   margin-bottom: 10px;
   padding: 10px;
   font-size: 1.5rem;
   font-weight: bold;
   color: #2D3949;
   border-radius: 3px;
   border: 1px solid #2D3949;
   outline: 0;
}

#contact form input{
    width: 100%;
    height: 50px;
}

#contact form textarea{
    min-width: 100%;
    min-height: 150px;
    font-size: 1.8rem;
    font-weight: bold;
}

#contact form button{
    background-color: #F0B67F;
    width: 100px;
    align-self: start;
}

#contact form button:hover{
    cursor: pointer;
    opacity: .8;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #B5E3D8;
    margin-top: 50px;
}

footer p, footer p a{
    font-size: 1.4rem;
    text-align: center;
    color: #2D3949;
    font-weight: bold;
}


